body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#screen {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr auto;
}

#desktop {
    background: url(../images/wallpapers/pariwhero.png);
    background-size: cover;
    background-position-y: 50%;
}

#statusbar {
    display: flex;
    padding: 5px;
    user-select: none;
}

.right {
    margin-left: auto;
}
