@font-face {
    font-family: "Cozette";
    src: url(../fonts/cozette.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: "Cozette";
    font-weight: normal;
}

#screen {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr auto;
}

#desktop {
    background: url(../images/wallpapers/pariwhero.png);
    background-size: cover;
    background-position-y: 50%;
}

.right {
    margin-left: auto;
}
