#statusbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    user-select: none;
    z-index: 9999;
    background-color: whitesmoke;
}

.statusbar-item {
    padding: 6px;
}

#status-middle {
    min-width: 0;
    overflow: hidden;
}

#appdrawer-container {
    display: inline-block;
    position: relative;
}

#appdrawer {
    display: none;
    position: absolute;
    background-color: lightgrey;
    z-index: 9999;
    bottom: 100%;
    left: 0%;
    padding: 10px;
}

#appdrawer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#appdrawer-container:hover #appdrawer {
    display: block;
}

#window-list {
    display: flex;
    gap: 2px;
    padding: 0;
    margin: 2px;
    min-width: 0;
    overflow-x: scroll;
}

.window-list-item {
    padding: 2px;
    flex: 0 0 125px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    box-sizing: border-box;
}
