#statusbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    user-select: none;
    z-index: 9999;
    background-color: whitesmoke;
}

.statusbar-item {
    height: 100%;
    display: flex;
    align-items: center;
}

#status-time {
    padding: 0px 5px 0px 5px;
}

#status-middle {
    min-width: 0;
    overflow: hidden;
}

#appdrawer-container {
    display: inline-block;
    position: relative;
}

#appdrawer {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0%;
    width: 150px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    box-sizing: border-box;
}

#appdrawer-container:hover #appdrawer {
    display: block;
}

#appdrawer-button {
    display: flex;
    align-items: center;
}

.appdrawer-app {
    display: grid;
    grid-template-columns: auto 1fr;
}

.appdrawer-app div {
    padding: 7px;
}

.appdrawer-icon {
    background: whitesmoke;
    width: 15px;
    text-align: center;
}

.appdrawer-label {
    background: white;
}


#window-list {
    display: flex;
    padding: 0;
    min-width: 0;
    overflow-x: scroll;
}

.statusbar-button {
    padding: 4px;
    flex: 0 0 125px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    box-sizing: border-box;
    margin: 4px 2px 4px 2px;
    display: flex;
    align-items: center;
}
