#statusbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    user-select: none;
    z-index: 9999;
    background-color: var(--window-bg);
}

.statusbar-item {
    height: 100%;
    display: flex;
    align-items: center;
}

#status-time {
    padding: 0px 5px 0px 5px;
}

#status-middle {
    min-width: 0;
    overflow: hidden;
}

#appdrawer-container {
    display: inline-block;
    position: relative;
}

#appdrawer {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0%;
    width: 150px;
    border-top: 2px solid var(--window-border-1);
    border-left: 2px solid var(--window-border-1);
    border-right: 2px solid var(--window-border-2);
    border-bottom: 2px solid var(--window-border-2);
    box-sizing: border-box;
}

#appdrawer-container:hover #appdrawer {
    display: block;
}

#appdrawer-button {
    display: flex;
    align-items: center;
}

.appdrawer-app, .appdrawer-popout-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0px !important;
}

.appdrawer-app div {
    padding: 7px;
}

.appdrawer-popout-container div {
    padding: 7px;
}

.appdrawer-popout-container:hover .appdrawer-popout {
    display: block;
}

.appdrawer-popout {
    display: none;
    padding: 0px !important;
    position: absolute;
    left: 100%;
    background: var(--window-bg-accent);
    width: 150px;
    border-top: 2px solid var(--window-border-1);
    border-left: 2px solid var(--window-border-1);
    border-right: 2px solid var(--window-border-2);
    border-bottom: 2px solid var(--window-border-2);
}

.up {
    bottom: 50% !important;
}


.appdrawer-icon {
    background: var(--window-bg);
    width: 15px;
    text-align: center;
}

.appdrawer-label {
    background: var(--window-bg-accent);
}


#window-list {
    display: flex;
    padding: 0;
    min-width: 0;
    overflow-x: scroll;
}

.statusbar-button {
    padding: 4px;
    flex: 0 0 125px;
    border-top: 2px solid var(--window-border-1);
    border-left: 2px solid var(--window-border-1);
    border-right: 2px solid var(--window-border-2);
    border-bottom: 2px solid var(--window-border-2);
    box-sizing: border-box;
    margin: 4px 2px 4px 2px;
    display: flex;
    align-items: center;
}

.window-list-focused {
    background: var(--window-bg-dark);
    border-top: 2px solid var(--window-border-2);
    border-left: 2px solid var(--window-border-2);
    border-right: 2px solid var(--window-border-1);
    border-bottom: 2px solid var(--window-border-1);
}
