.window {
    border: solid;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    left: 100px;
    background: whitesmoke;
    overflow: hidden;
    z-index: 1;
    display: grid;
    grid-template-rows: auto 1fr;
}

.window .header {
    background: lightgrey;
    padding: 10px;
    cursor: grab;
    user-select: none;
    display: flex;
}

.window .header:active {
    cursor: grabbing;
}

.window .content {
    padding: 10px;
    min-height: 0;
    min-width: 0;
}

.window .window-buttons {
    margin-left: auto;
}

.close-window {
    cursor: pointer;
}
